@{
    ViewBag.Title = "Home";
}

<h1>Home</h1>

<div class="box">
    Environment is : @ViewBag.CurrentEnvironment
</div>

<environment include="Development">
    <button class="button button-blue-back">Button only for Development Environment</button>
</environment>

<environment exclude="Development">
    <button class="button button-green-back">Button for all except Development Environment</button>
</environment>