@* @using ViewsExample.Models *@
@model IEnumerable<Person>

@{
    // var people = (List<Person>?)ViewData["people"];

}

<!DOCTYPE html>
    <html>
    <head>
        <title>Asp.Net Core Demo App</title>
        <meta charset="utf-8"/>
        <link href="~/StyleSheet.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="page-content">
        <h1>Welcome</h1>
        @{
            // when use ViewBag and want to show property when type . after object ex(person.) so we should use object type 
            // of waiting variable (Person) not using var
            // foreach(Person person in ViewBag.people)
            foreach (Person person in Model)
            {
                <div class="box float-left w-50">
                    <h3>Name: @person.Name</h3>
                    <table class=" table w-100">
                        <tbody>
                            <tr>
                                <td>Gender</td>
                                <td>@person.gender</td>
                            </tr>
                            <tr>
                                <td>DateOfBirth</td>
                                <td>@person.DateOfBirth?.ToString("MM/dd/yyyy")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
        }
    </div>
    </body>
    </html>