<!DOCTYPE html>
    <html>
    <head>
        <title>Configuration Demp</title>
        <meta charset="utf-8" />
        <link href="~/StyleSheet.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <h1>Home</h1>
            <div class="box">
                <div>@ViewBag.clientid</div>
                <div>@ViewBag.clientsecret</div>
            </div>
        </div>
    </body>
    </html>